body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  color: #007aff;
}

.container {
  width: 65%;
  height: 550px;
  margin-top: 20px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(253 2 2 / 93%);
  overflow: hidden;
}

.item {
  width: 58%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item .content {
  position: relative;
  width: 510px;
  height: 510px;
  border-radius: 20px;
  background-color: black;
  object-fit: cover;
}

.login-section {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(100% - 58%);
  height: 100%;
}

.form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.form-box h2 {
  font-size: 35px;
  text-align: center;
  font-weight: bold;
}

.input-box {
  height: 30px;
  width: 70%;
  border-bottom: 2px solid #888;
  position: relative;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 16px;
  padding-right: 28px;
}
.input-box label{
  position: absolute;
  top:50%;
  left: 0;
  font-size: 15px;
  font-weight: 400;
  transform: translateY(-50%);
  transition: ease .5s;
}

.input-box input:focus ~label,
.input-box input:valid ~label{
  top:-5px
}

.btn{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: black;
  color: #007aff;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  cursor: pointer;
  box-shadow: none;
  border-radius: 4px;
}

.term-conditin{
  margin: 15px 0 15px;
}
.term-conditin label{
  font-size: 12px;
  font-weight: 500;
  color:#888;
}

.term-conditin label input{
  accent-color: #fff;
  margin-right: 3px;
  position: relative;
  top:2.5px
}

.account-login label{
color:#999;
font-size: 12px;
font-weight: 500;
}
.account-login label a{
  font-weight: 600;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.login-section .form-box.Login{
  transform: translateX(400px);
  transition: transform .5s ease;
  transition-delay: .0s;
}


.login-section.active .form-box.Login{
  transform: translateX(0px);
  transition: transform .5s ease;
  transition-delay: .6s;

}

.login-section .form-box.Register{
  transform: translateX(0px);
  transition: transform .5s ease;
  transition-delay: .0s;
}


.login-section.active .form-box.Register{
  transform: translateX(400px);
  transition: transform .5s ease;
  transition-delay: .6s;

}